[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asttokens = "*"
uvicorn = "*"
attrs = "*"
autopep8 = "*"
backcall = "*"
click = "*"
colorama = "*"
contourpy = "*"
coverage = "*"
cycler = "*"
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-renderer = "*"
dash-table = "*"
debugpy = "*"
decorator = "*"
entrypoints = "*"
exceptiongroup = "*"
executing = "*"
fastjsonschema = "*"
flask = "*"
flask-login = "*"
fonttools = "*"
geojson = "*"
gmaps = "*"
greenlet = "*"
gunicorn = "*"
iniconfig = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
itsdangerous = "*"
jedi = "*"
jinja2 = "*"
jsonschema = "*"
jupyter-client = "*"
jupyter-core = "*"
jupyterlab-widgets = "*"
kiwisolver = "*"
markupsafe = "*"
matplotlib = "*"
matplotlib-inline = "*"
nbformat = "*"
nest-asyncio = "*"
numpy = "*"
packaging = "*"
pandas = "*"
parso = "*"
pickleshare = "*"
pillow = "*"
platformdirs = "*"
plotly = "*"
pluggy = "*"
pprintpp = "*"
prompt-toolkit = "*"
psutil = "*"
pure-eval = "*"
pyarrow = "*"
pycodestyle = "*"
pycountry = "*"
pycountry-convert = "*"
pygments = "*"
pymysql = "*"
pyparsing = "*"
pyrsistent = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
python-dateutil = "*"
pyzmq = "*"
"repoze.lru" = "*"
six = "*"
sqlalchemy = "*"
stack-data = "*"
tenacity = "*"
tomli = "*"
tornado = "*"
traitlets = "*"
wcwidth = "*"
werkzeug = "*"
widgetsnbextension = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.10"
